<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Novo Pedido</h3></div>
  <div class="panel-body">


<%= render 'form' %>

<a href="/" >Voltar</a>
<p>Pedidos, dúvidas, sugestões ou críticas entre em contato: brunoandrade07@gmail.com</p> 
  </div>
</div>

